@media screen and (max-width: 768px) {

    .col-sm-2 {
        display: none;
    }

    .menu {
        display: block;
    }
}

.menu {
    text-align: center;
}

@media screen and (min-width: 769px) {

    .menu {
        display: none;
    }

}

.back {
    font-size: 25px;
}

.container {
    margin-top: 20px;
}

h1, .cat_list a, .cat span {
    font-size: 14px;
}

h3 {
    font-size: 18px;
}

.full_pic img {
    width: 100%;
}

.pic_list a {
    display: inline-block;
}

img {
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.pic_list img {
    margin: 10px;
}

.pic_title {
    margin-top: 0;
    margin-bottom: 20px;
}

.cat_list a, .cat span {
    text-transform: capitalize;
}

.cat_list .cat {
    margin-bottom: 40px;
    display: inline;
    margin-right: 20px;
}

.cat span {
    font-size: 20px;
    margin-bottom: 20px;
}

p.cat a {
    font-size: 14px;
}

.show_insert_cat {
    display: block;
    font-size: 20px;
    margin-bottom: 40px;
}

.new_cat_toggle {
    margin-bottom: 50px;
}

.pic_nav {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
