{% extends '::base.html.twig' %}

{% block body %}
    <a href="#" class="menu" id="menu">MENU <span class="glyphicon glyphicon-align-justify"></span></a>

    <div class="col-sm-2">
            {{ include('AppBundle:Default:check_user.html.twig') }}

            <h1>Categories</h1>

            <div class="gallery">
                {% if categories|length > 0 %}

                    <div class="cat_list">
                    {% for category in categories %}
                        <p>
                            <a class="glyphicon glyphicon-chevron-right" href="{{ url('pictures_by_tag', {tag : category.getName()}) }}">{{ category.getName() }}</a>
                        </p>
                    {% endfor %}
                    </div>

                {% elseif is_granted('ROLE_USER') %}
                    <h5 class="alert alert-warning">You have not added any categories</h5>
                {% endif %}
            </div>
    </div>

    <div class="col-xs-10">
        {% block pictures %}{% endblock %}
    </div>
{% endblock %}
